.search {
    -webkit-appearance: none;
    border: solid;
    border-width: 5px;
    border-color:#0ccac4;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  